// Place all the styles related to the albums controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.module {
  width: 90%;
  overflow: hidden;
}

.module > .photo {
  width: 25%;
  height: 300px;
  float: left;
  margin-left: 20px;
 }


